<div class="container">
<h2>Editar Usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <br />
    <%= f.text_field :name, class:"form-control",placeholder:"Nome"%>
  </div>

  <div class="field form-group">
    <br />
    <%= f.email_field :email, autofocus: true,class:"form-control", placeholder:"Email", autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <br />
    <%= f.password_field :password,class:"form-control", placeholder:"Senha (Deixe em branco se não quiser mudar)",autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
  <br />
    <%= f.password_field :password_confirmation,class:"form-control", placeholder:"Confirmação de Senha", autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <br />
    <%= f.password_field :current_password,class:"form-control", placeholder:"Senha Atual (É preciso para confirmar suas mudanças)", autocomplete: "current-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>
<br>
<h3>Eliminar Conta</h3>
<div> <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
<br>
<%= link_to "Voltar", :back %>
</div>
