<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'Posts', posts_path, class: 'nav-link' %>
  </li>
  
  <% if user_signed_in? %>
    <li class="nav-item">
<%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Editar Perfil', edit_user_registration_path, class: 'nav-link' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Cadastrar', new_user_registration_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Entrar', new_user_session_path, class: 'nav-link' %>
    </li>
  <% end %>
</ul>
